# Ignore playground
playground/

# Ignore all python caches
__pycache__

# Ignore backend logs
src/backend/logs

# Ignore backend plugin downloads
src/backend/plugins/downloads

# Ignore backend plugins
src/backend/plugins/plugins

# Ignore built frontend
public
